<!DOCTYPE html>
<html>
  <head>
   <meta charset="utf-8" />
	 <title>Matej Musap</title>
	 <link rel="stylesheet" type="text/css" href="Matej_4.css">
   <link rel="stylesheet" type="text/css" href="lib/bootstrap4.0.css">
   <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Rochester|Bree+Serif" />
   <script type="text/javascript" src="lib/jquery-3.3.1.min.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="#">Matej</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Pricing</a>
            </li>
          </ul>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link disabled" href="#">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>


<header>
      <h2>Welcome to</h2>
      <h1>Dan's Portfolio</h1>
    </header>
    
        <div id="main">
          
          <h3>My Latest Projects</h3>
          
          <a class="arrow prev">Prev</a>
          <a class="arrow next">Next</a>
          
          <ul id="carousel">
            <li><a href="#"><img src="img/photo-1493722594287-3c0760bc601d.jpg" alt="Media Temple" /></a></li>
            <li><a href="#"><img src="img/photo-1491336477066-31156b5e4f35.jpg" alt="Shutterstock" /></a></li>
            <li><a href="#"><img src="img/photo-1496102654239-5f2e6cb80b11.jpg" alt="Pagelines" /></a></li>
            <li><a href="#"><img src="img/photo-1430418372158-66adfd0d88cb.jpg" alt="Themefuse" /></a></li>
            <li class="visible"><a href="#"><img src="img/photo-1413781892741-08a142b23dfe.jpg" alt="RapidXHTML" /></a></li>
            <li class="visible"><a href="#"><img src="img/photo-1459909633680-206dc5c67abb.jpg" alt="IM Creator" /></a></li>
            <li class="visible"><a href="#"><img src="img/photo-1465126188505-4f04a0f23a4d.jpg" alt="Email on Acid" /></a></li>
            <li><a href="#"><img src="img/photo-1496134732667-ae8d2853a045.jpg" alt="Template SOLD" /></a></li>
            <li><a href="#"><img src="img/photo-1498471731312-b6d2b8280c61.jpg" alt="Linux Cloud VPS" /></a></li>
            <li><a href="#"><img src="img/photo-1515085848850-52244870cfe9.jpg" alt="Billgrid" /></a></li>
            <li><a href="#"><img src="img/unsplash_5269924c8ce7c_1.jpg" alt="MaxCDN" /></a></li>
          </ul>
          
        </div>

       
        <script type="text/javascript" src="Matej_4.js"></script>
       
  </body>
</html>