<!DOCTYPE html>
<html>
  <head>
	 <title>Matej Musap</title>
	 <link rel="stylesheet" type="text/css" href="Matej_4.css">
   <link rel="stylesheet" type="text/css" href="lib/bootstrap4.0.css">
   <link href="https://fonts.googleapis.com/css?family=Mukta+Malar" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="#">Matej</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Pricing</a>
            </li>
          </ul>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link disabled" href="#">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
<!-- Contact -->
<div class="container white">
    <div class="row">
        <div class="container white percent100">
            <div class="col-lg-12">
                <div class="padder-t2">
                    <h1>Contact Me</h1>
                    <div class="horiz-divider"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row padder-t padder-b">
        <div class="container white">
            <div class="col-lg-12">
                <!-- Form -->
                <form class="form-horizontal" action=" " method="post"  id="contact_form">
                    <fieldset>
                        <!-- Text input-->
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-4 col-lg-4">
                                    <label class="control-label pull-right"><h4>First Name</h4></label>
                                </div>
                                <div class="col-md-4 col-lg-4 inputGroupContainer">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                        <input id="firstname" name="firstname" placeholder="First Name" class="form-control"  type="text">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Text input-->
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-4 col-lg-4">
                                    <label class="control-label pull-right" ><h4>Last Name</h4></label>
                                </div>
                                <div class="col-md-4 col-lg-4 inputGroupContainer">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                        <input id="lastname" name="lastname" placeholder="Last Name" class="form-control"  type="text">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Text input-->
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-4 col-lg-4">
                                    <label class="control-label pull-right"><h4>E-Mail</h4></label>
                                </div>
                                <div class="col-md-4 col-lg-4 inputGroupContainer">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                                        <input id="email" name="email" placeholder="E-Mail Address" class="form-control"  type="email">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Text input-->
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-4 col-lg-4">
                                    <label class="control-label pull-right"><h4>Phone #</h4></label>
                                </div>
                                <div class="col-md-4 col-lg-4 inputGroupContainer">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                                        <input id="phone" name="phone" placeholder="Phone" class="form-control" type="text">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Text area -->
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-4 col-lg-4">
                                    <label class="control-label pull-right"><h4>Message</h4></label>
                                </div>
                                <div class="col-md-4 col-lg-5 inputGroupContainer">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-pencil"></i></span>
                                        <textarea id="comment" class="form-control" name="comment" placeholder="Your Message"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Success message -->
                        <div class="alert alert-success" role="alert" id="success_message">Success <i class="fa fa-thumbs-up"></i> Thanks for contacting us, we will get back to you shortly.</div>
                        <!-- Button -->
                        <div class="form-group">
                            <div class="row">
                                <label class="col-md-4 col-lg-4 control-label"></label>
                                <div class="col-md-4 col-lg-4">
                                    <button type="submit" class="btn btn-danger raised" >Send <i class="fa fa-paper-plane"></i></button>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
    <div class="row padder-b">
        <div class="row col-lg-12">
            <div class="col-md-3 col-lg-3"></div>
            <h4 class="col-md-9 col-lg-9">Contact us directly:</h4>
        </div>
        <div class="row col-lg-12">
            <div class="col-md-3 col-lg-3"></div>
            <h4 class="col-md-2 col-lg-2 padder-lr">Mail:</h4>
            <a class="col-md-6 col-lg-6 padder-lr" href="mailto:matej.musap@gmail.com">
                <h4 id="mail">matej.musap@gmail.com</h4>
            </a>
        </div>
        <div class="row col-lg-12">
            <div class="col-md-3 col-lg-3"></div>
            <h4 class="col-md-2 col-lg-2 padder-lr">Adress:</h4>
            <h4 class="col-md-6 col-lg-6 padder-lr" id="adress">Turinina 2, 1020 Zagreb, Hrvatska</h4>
        </div>
    </div>
</div>

    
  </body>
</html>