<!DOCTYPE html>
<html>
  <head>
	 <title>Matej Musap</title>
	 <link rel="stylesheet" type="text/css" href="Matej_2.css">
   <link rel="stylesheet" type="text/css" href="lib/bootstrap4.0.css">
   <link href="https://fonts.googleapis.com/css?family=Mukta+Malar" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="#">Matej</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/biography">Biography<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/webdevelopment">WebDevelopment</a>
            </li>
          </ul>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link disabled" href="/contac">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      <div class="row">
        <div class="col-lg-5">
          <p>Hi everyone!
          </br>
          My name is Matej Musap.
          </br>
          I am born and live in Croatia. I am web developer.
          </br>
          I have solid knowledege in HTML, CSS and JavaScript programming languages.
          </br>
          For configuring back-end I use node.js. I am familiar with MongoDb noSql database, but I am expanding my knowledge in many directions. I am trying to become web developer with as wider as possible knowledge. 
          </p>
        </div>
        <div class="col-lg-7">
          <div class="ia-container">       
            <figure>
              <img src="img/photo-1413781892741-08a142b23dfe.jpg" alt="image01" />
              <input type="radio" name="radio-set" checked="checked" />
              <figure>
                <img src="img/photo-1459909633680-206dc5c67abb.jpg" alt="image02" />
                <input type="radio" name="radio-set" />
                <figure>
                  <img src="img/photo-1474496517593-015d8b59450d.jpg" alt="image02" />
                  <input type="radio" name="radio-set" />
                    <figure>
                      <img src="img/photo-1478001517127-fccc92f54906.jpg" alt="image02" />
                      <input type="radio" name="radio-set" />
                    </figure>
                </figure>
              </figure> 
            </figure> 
          </div>      
                
        </div>
      </div>
    </div>
  </body>
</html>